//- -----------------------------------------------------------------------------
//- This file contains all application-wide Pug variables.
//- -----------------------------------------------------------------------------

//- global head configurations
//- @prop {String} keys - meta tag name
//- @prop {Object} values - meta tag content
-
  const globalHeadProps = {
    author: "Deluxateer",
    googleAnalyticsCode: `(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');`,
    setFacebookAndTwitterCards: true,
    websiteTwitterHandle: "@deluxthreads",
    contentCreatorTwitterHandle: "@deluxateer",
    twitterFacebookImageURL: "https://deluxthreads.com/img/meta/evernote-twitter.png",
    webpageURL: "https://deluxthreads.com",
    facebookSiteName: "DeluxThreads",
    canonicalLinkURL: "https://deluxthreads.com",
    webAppManifestPath: "./manifest.json",
    faviconPath: "./favicon.ico",
    themeColor: "#000",
  };

//- base url for assets (in dist)
//- @type String
- const baseURL = './';

//- navbar items
//- @prop {String} keys - Title for the navbar link
//- @prop {Object} values - URL that the link points to
-
  const navbarItems = {
    'About': '#about',
    'Services': '#services',
    'Testimonials': '#testimonials',
    'Contact': '#contact',
  }

//- social media navitems
//- @prop {String} keys - name of social media service
//- @prop {Object} values - icon classes from fontawesome and url that of your social media profile
-
  const socialMediaItems = {
    twitter: {
      icon: 'fab fa-twitter',
      url: '#!',
    },
    instagram: {
      icon: 'fab fa-instagram',
      url: '#!',
    },
    facebook: {
      icon: 'fab fa-facebook-square',
      url: '#!',
    },
  }
